<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentRegistration_2.Properties.Settings.DbDormitoryRegistrationConnectionString"
            connectionString="Data Source=NB3401-0011;Initial Catalog=DbDormitoryRegistration;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>